<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.RoomDao">
    <select id="selectAll" resultType="Room">
        SELECT
        t_room.id,
        t_room.room_name,
        t_room.seat_num
        FROM
        t_room
    </select>

    <select id="selectById" parameterType="String" resultType="Room">
        SELECT
        t_room.id,
        t_room.room_name,
        t_room.seat_num
        FROM
        t_room
        WHERE
        t_room.id = #{id}
    </select>

    <update id="updateRoom" parameterType="Room">
        UPDATE `examSession`.`t_room` SET `room_name` = #{roomName}, `seat_num` = #{seatNum} WHERE `id` = #{id}
    </update>

    <insert id="insertRoom" parameterType="Room">
        INSERT INTO `examSession`.`t_room`(`id`, `room_name`, `seat_num`) VALUES (#{id}, #{roomName}, #{seatNum})
    </insert>

</mapper>