<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.ScoreDao">
    <resultMap id="scoreInfo" type="com.exam.entity.Score" autoMapping="true">
        <association property="subject" javaType="com.exam.entity.Subject" autoMapping="true">
        </association>
        <association property="examnieeInfo" javaType="com.exam.entity.ExamnieeInfo" autoMapping="true">
        </association>
    </resultMap>

    <!-- 查询所有考生的成绩信息 author：zhangyuanzhe 2019/10/15 -->
    <select id="findAllScore" resultMap="scoreInfo">
        SELECT
        t_score.score_id,
        t_score.student_id,
        t_score.papers_id,
        t_score.score,
        t_examniee_info.examniee_name,
        t_subject.subject_name,
        t_subject.subject_id
        FROM
        t_score,
        t_examniee_info,
        t_subject
        WHERE
        t_score.student_id = t_examniee_info.examniee_Id
        and
        t_examniee_info.examniee_subject_Id = t_subject.subject_id
        <if test="selectScore != '' and msg != '' and selectScore != null and msg != null">
            and
            ${selectScore} = #{msg}
        </if>
    </select>


    <!-- 查询所有考生成绩的总记录数 author：zhangyuanzhe 2019/10/15 -->
    <select id="findAllCount" resultType="long">
        SELECT
        count( score_id )
        FROM
        t_score,
        t_examniee_info,
        t_subject
        WHERE
        t_score.student_id = t_examniee_info.examniee_Id
        and
        t_examniee_info.examniee_subject_Id = t_subject.subject_id
        <if test="selectScore != '' and msg != '' and selectScore != null and msg != null">
            and
            ${selectScore} = #{msg}
        </if>
    </select>


    <!-- 删除学生成绩 author：zhangyuanzhe 2019/10/16 -->
    <delete id="deleteScoreByPapersId" parameterType="String">
        DELETE
        FROM
        t_score
        WHERE
        `papers_id` = #{papersId}
    </delete>


    <!-- 批量删除学生成绩 author：zhangyuanzhe 2019/10/16 -->
    <delete id="deleteAllScoreByPapersId" parameterType="list">
        DELETE
        FROM
        t_score
        WHERE
        <foreach collection="list" item="papersId" open="`papers_id` in (" separator="," close=")">
            #{papersId}
        </foreach>
    </delete>


    <!-- 查询所有未被批改的简答题（SAQ） author：zhangyuanzhe 2019/10/16 -->
    <select id="findAllNoCorrectionSAQ" resultType="shortAnswerQuestions">
        SELECT
        t_papers.papers_id,
        t_papers.questions_id,
        t_papers.student_answer,
        t_questions.questions_info,
        t_questions.questions_answer
        FROM
        t_papers,
        t_questions
        WHERE
        t_papers.question_score IS NULL
        AND t_papers.questions_id = t_questions.questions_id
    </select>

    <!-- 保存打好分的简答题分数（SAQ） author：zhangyuanzhe 2019/10/16 -->
    <update id="updateScore" parameterType="papers">
        UPDATE t_papers
        SET question_score = #{questionScore}
        WHERE
	    papers_id = #{papersId}
	    AND questions_id = #{questionsId}
    </update>


    <!-- 获取某张卷子已经有的分数 author：zhangyuanzhe 2019/10/1 -->
    <select id="findQuestionsScore" resultType="double">
        SELECT
        SUM(t_papers.question_score)
        FROM
        t_papers
        WHERE
        t_papers.papers_id = #{papersId}
    </select>


    <!-- 保存总分 author：zhangyuanzhe 2019/10/19 -->
    <update id="updateScoreSUM">
        UPDATE
        t_score
        SET
        t_score.score = #{sum}
        WHERE
        t_score.papers_id = #{papersId}
    </update>



    <!-- 查询是否有题目未改 author：zhangyuanzhe 2019/10/19 -->
    <select id="findQuestionsNoScore" resultType="string">
        SELECT
        t_papers.questions_id
        FROM
        t_papers
        WHERE
        t_papers.papers_id = #{papersId}
        and
        t_papers.question_score is null
    </select>


</mapper>