<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.SubjectDao">


<!--  查看所有的一级科目，返回list   作者：RongJing     更改时间：2019/10/15 -->

    <select id="findAllSubject" resultType="com.exam.entity.Subject">
        SELECT
                t_subject.subject_name,
                t_subject.subject_id,
                t_subject.parent_id
        FROM
                t_subject
            where  parent_id is null
    </select>



    <!--  添加科目   作者：RongJing     更改时间：2019/10/15 -->
    <insert id="insertSubject" parameterType="com.exam.entity.Subject">
        insert into t_subject (
                t_subject.subject_name,
                t_subject.parent_id)
            values (
                #{subjectName},
                #{parentId}
            )
    </insert>


<delete id="deleteSubject" parameterType="string">
    delete from t_subject where subject_id = #{subjectId}
</delete>



    <!-- 根据二级目录找到一级目录   作者：RongJing     更改时间：2019/10/15 -->
    <select id="findByParentId" parameterType="integer">
        SELECT
                t_subject.subject_name,
                t_subject.subject_id,
                t_subject.parent_id
            FROM
                t_subject
            WHERE
                t_subject.subject_id = #{parentId}
    </select>



<!--    查找所有的subject对象-->
   <select id="findAll" resultType="com.exam.entity.Subject">
       select * from t_subject
   </select>

<!--根据subjectId 找到相应的subject对象    -->
    <select id="findById" parameterType="Integer" resultType="com.exam.entity.Subject">
        select * from t_subject where subject_id=#{subjectId}
    </select>
<!--    根据用户id找到相应的subjectId，从而找到相应的subject对象-->
    <select id="findByUser" parameterType="com.exam.entity.User" resultType="com.exam.entity.Subject">
        SELECT
                t_user_subject.subject_id,
                t_subject.subject_name,
                t_subject.parent_id
        FROM
                t_user_subject ,
                t_user ,
                t_subject
        WHERE
                t_user.user_id = t_user_subject.user_id
            AND
                t_user.user_id = #{userId}
            and
                t_user_subject.user_subject_id = t_subject.subject_id
    </select>
    
</mapper>